basePath: /
definitions:
  main.Message:
    properties:
      content:
        type: string
      id:
        type: string
      room_id:
        type: string
      timestamp:
        type: string
      user_id:
        type: string
    type: object
host: localhost:8090
info:
  contact: {}
  description: A scalable real-time chat backend for live streams.
  title: Chat Service API
  version: "1.0"
paths:
  /chat/history/{roomID}:
    get:
      consumes:
      - application/json
      description: Retrieves chat messages from a specific room.
      parameters:
      - description: Chat Room ID
        in: path
        name: roomID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/main.Message'
            type: array
      summary: Get chat history
      tags:
      - Chat
schemes:
- http
swagger: "2.0"
