services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27019:27017"
    volumes:
      - mongo-data:/data/db
    command: ["--quiet"]
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  mongo-express:
    image: mongo-express:1.0.2-20-alpine3.19
    restart: unless-stopped
    ports:
      - "8091:8081"
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      ME_CONFIG_MONGODB_SERVER: "mongo"
      ME_CONFIG_MONGODB_PORT: "27017"

  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6381:6379"
    volumes:
      - redis-data:/data

  auth-service:
    build:
      context: services/auth
      dockerfile: Dockerfile.auth
    ports:
      - "8089:8089"
    depends_on:
      - mongo
      - redis
    environment:
      PORT: 8089
      MONGO_URL: "mongodb://mongo:27017"
      JWT_SECRET: "jwtTestY&771765454330an"

  chat-service:
    build:
      context: services/chat
      dockerfile: Dockerfile.chat
    ports:
      - "8088:8088"
    depends_on:
      - mongo
      - redis
    environment:
      PORT: 8088                
      JWT_SECRET: "jwtTestY&771765454330an"
      REDIS_ADDR: "redis:6379"  
      MONGO_URL: "mongodb://mongo:27017"

  user-service:
    build:
      context: services/user
      dockerfile: Dockerfile.user
    ports:
      - "8087:8087"
    depends_on:
      - mongo
      - redis
    environment:
      PORT: 8087                
      JWT_SECRET: "jwtTestY&771765454330an"
      REDIS_ADDR: "redis:6379"  
      MONGO_URL: "mongodb://mongo:27017"

volumes:
  mongo-data:
  redis-data:
