version: '3.8'
services:
  gogo-dev:
    build:
      context: ..
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:rw
    user: vscode
    working_dir: /workspace
    extra_hosts:
      - host.docker.internal:host-gateway
    command:
      sleep infinity &